*.bs.js
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
lib/js
*.mlast
*.mliast
.merlin
.bsb.lock
/node_modules/
/src/Examples.res
